.CFUserTextEncoding
.DS_Store
.cache/
.gitconfig
.julia/
.python_history
.terraform.d/
.vim/
.viminfo
.vscode/
.zprofile
.zsh_history
.zsh_sessions/
Applications/
Desktop/
Documents/
Downloads/
Library/
Movies/
Music/
Pictures/
Public/
dotfiles/
go/
py/
.ipython/
.jupyter/
